@import './base.scss';
@import 'frontend/navbar';
@import 'frontend/hero-banner';
@import 'frontend/login';
@import 'frontend/doctors-office';

$primary-color:  #007bffd5;
$secondary-color: #007bff;

body {
    scroll-behavior: smooth;
}

.button {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: $primary-color;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
    &--secondary {
        border: 1px solid $primary-color;
        background-color: white;
        color: $primary-color;
        &:hover {
            color: white;
            background-color: darken($secondary-color, 10%);
        }
    }
    &--darkMode {
        border: 1px solid $primary-color;
        background-color: black;
        color: $primary-color;
        &:hover {
            color: white;
            background-color: darken($secondary-color, 10%);
        }
    }
    &--form {
        padding: 15px 20px;
        border: 1px solid darken($primary-color, 10%);
        background-color: $primary-color;
        color: white;
        font-weight: 500;
        font-size: .88rem;
        cursor: pointer;
        user-select: none;
        transition: background-color 0.3s;
        &:hover {
            background-color: darken($primary-color, 10%);
            color: white;
        }
    }
    &:disabled {
        filter: grayscale(1);
        cursor:not-allowed;
    }
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    &__h1 {
        font-size: 4rem;
        font-weight: 700;
    }
    &__h2 {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 15px;
    }
    &__h3 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__h4 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 5px;
    }
    &__p {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        margin-bottom: 10px;
    }
}

.main {
    width: 100%;
    max-width: 1440px;
    position: relative;
    margin-bottom: 64px;
    overflow: var(--overflow);
    height: calc(var(--height) - 84px);
}

.homepage-container {
    width: 100%;
    overflow: hidden;
    max-width: 1440px;
    height: calc(100vh - 64px);
    position: relative;
    padding-bottom: 20px;
    animation: Fade 1s ease-in-out forwards;
    &__puesdo1 {
        position: absolute;
        top: 10%;
        left: 9.5%;
        width: 10px;
        border-radius: 20px;
        height: 55%;
        transform-origin: top;
        animation: extendLine 2s ease-in-out forwards;
        text-align: center;
        z-index: 1;
        border: none;
    }
    &__puesdo2 {
        position: absolute;
        top: 10%;
        left: calc(9.5% - 10px);
        width: 30px;
        height: 30px;
        border-radius: 999px;
        background-color: $secondary-color;
        z-index: 2;
        box-shadow: 0px 3px 30px 2px $primary-color;
    }
    &__puesdo3 {
        position: absolute;
        top: 62%;
        left: calc(9.5% - 10px);
        width: 30px;
        height: 30px;
        border-radius: 999px;
        background-color: $secondary-color;
        box-shadow: 0px 3px 30px 2px $primary-color;
        z-index: 3;
    }
}


@keyframes Fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes extendLine {
    0% {
        height: 0px;
    }
    95% {
        box-shadow: none;
    }
    100% {
        height: calc(52% + 10px);
        background-color: $primary-color;
        box-shadow: 0px 3px 4cap 4px $primary-color;
    }
}

@media screen and (max-width: 640px) {
    body {
        overflow: auto !important;
    }
}

