$secondary-color: #007bff;

.office {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-height: 100vh;
    margin-top: 64px;
    justify-content: space-between;
    border: 2px solid $primary-color;
    align-items: flex-start;
    border-radius: 10px;
    position: relative;
    * {
        margin: 0;
    }
    &__puesdo1 {
        position: absolute;
        top: calc(50% + 5px);
        transform: rotate(180deg);
        left: calc(50% + 2.5px);
        width: 5px;
        border-radius: 20px;
        height: 100%;
        transform-origin: top;
        animation: extendLine2 2s ease-in-out forwards;
        text-align: center;
        z-index: 1;
        border: none;
    }
    &__puesdo2 {
        position: absolute;
        top: 50%;
        left: calc(50% + 2.5px);
        width: 5px;
        border-radius: 20px;
        height: 100%;
        transform-origin: top;
        animation: extendLine2 2s ease-in-out forwards;
        text-align: center;
        z-index: 1;
        border: none;
    }
    &__puesdo3 {
        position: absolute;
        top: -5px;
        left: calc(50% - 2.5px);
        width: 15px;
        height: 15px;
        border-radius: 999px;
        background-color: $secondary-color;
        z-index: 2;
        box-shadow: 0px 3px 30px 2px $primary-color;
    }
    &__puesdo4 {
        position: absolute;
        top: 50%;
        left: calc(50% - 2.5px);
        width: 15px;
        height: 15px;
        border-radius: 999px;
        background-color: $secondary-color;
        box-shadow: 0px 3px 30px 2px $primary-color;
        z-index: 3;
    }
    &__puesdo5 {
        position: absolute;
        top: calc(100% - 5px);
        left: calc(50% - 2.5px);
        width: 15px;
        height: 15px;
        border-radius: 999px;
        background-color: $secondary-color;
        box-shadow: 0px 3px 30px 2px $primary-color;
        z-index: 3;
    }
    &__col {
        width: calc(50% - 16px);
        animation: Fade 1s ease-in-out;
        display: flex;
        flex-wrap: wrap;
        min-width: 300px;
        max-width: 50%;
        padding-top: 20px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        align-self: stretch; // Added to stretch the columns
    }
    &__title-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__input-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 20px;
        gap: 5px;
        padding: 10px 10px 10px 30px;
        position: relative;
    }
    &__input {
        width: 100%;
        padding: 10px;
        border: 1px solid $primary-color;
        background-color: #007bff50;
        border-radius: 5px;
    }
    &__dropdown {
        width: calc(100% - 20px);
        border: 1px solid;
        position: absolute;
        padding: 10px 5px;
        list-style-type: none;
        top: calc(100% - 15px);
        left: 10px;
        max-height: 150px;
        overflow-y: auto;
        z-index: 1000;
        color: black;
        background-color: white;
        li {
            text-decoration: none;
            padding: 8px;
            color: black;
            cursor: pointer;
        }
    }
    &__patient-info {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0;
        justify-content: flex-start;
        gap: 20px;
        padding: 10px 10px 10px 30px;
        width: 100%;
    }
    &__grid-input-item {
        margin: 0;
        gap: 2px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        min-width: calc(33% - 20px);
        flex: 1 1 calc(33% - 20px);
        @media (max-width: 1100px) {
            min-width: calc(50% - 20px);
            flex: 1 1 calc(50% - 20px);
        }
        @media (max-width: 768px) {
            min-width: 100%;
            flex: 1 1 100%;
        }
        &:nth-child(odd):only-child {
            flex: 1 1 100%;
        }
        label {
            margin-left: 2px ;
        }
    }
    &__grid-input {
        width: 100%;
        padding: 10px;
        border: 1px solid $primary-color;
        background-color: #007bff50;
        border-radius: 5px;

    }
    &__appointment-notes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        label {
            margin-left: 2px ;
        }
    }
    &__notes-area {
        width: 100%;
        padding: 10px;
        border: 1px solid $primary-color;
        border-radius: 5px;
        resize: vertical;
        height: 100px;
    }
    &__cta {
        padding: 20px 10px 40px 30px;
        display: flex;
        width: 100%;
        width: 100%;
        gap: 10px;
        justify-content: space-between;
    }
    &__cta1{
        display: flex;
        width: 100%;
        width: 100%;
        gap: 10px;
        justify-content: space-between;
    }
    &__output-container {
        width: 100%;
        padding: 10px;
        p {
            margin-left: 2px ;
        }
    }
    &__output-inner-container {
        border: 1px solid $primary-color;
        width: 100%;
        min-height: 300px;
        max-height: 300px;
        overflow-y: auto;
        border-radius: 10px;
        padding: 10px;
        background-color: transparent;
        color: black;
        align-self: stretch;
        position: relative;
        &--export {
            min-height: 148px;
            max-height: 148px;
        }
    }
    
    &__loader {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 999px;
        background-color: $secondary-color;
        z-index: 2;
        box-shadow: 0px 3px 30px 2px $primary-color;
        animation: loader 2s infinite;
    }
}

@keyframes loader {
    0% {
        box-shadow: 0px 0px 0px 0px $primary-color;
    }
    50% {
        box-shadow: 0px 3px 30px 2px $primary-color;
    }
    100% {
        box-shadow: 0px 0px 0px 0px $primary-color;
    }
}

@keyframes Fade {
    0% {
        opacity: 0;
        box-shadow: 0px 0px 0px 0px $primary-color;
    }
    100% {
        opacity: 1;
        box-shadow: 0px 0px 30px 2px $primary-color;
    }
}

@keyframes extendLine2 {
    0% {
        height: 0px;
    }
    95% {
        box-shadow: none;
    }
    100% {
        height: calc(50% + 10px);
        background-color: $primary-color;
        box-shadow: 0px 3px 22px  $primary-color;
    }
}
