$primary-color:  rgba(0, 123, 255, 0.835);
.form-page {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;    
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    color: black;
    animation: FadeIn 1s ease-out;
    // border: 2px solid $primary-color;
    background-color: white;
    box-shadow: 0 0 10px 5px $primary-color;
    text-align: center;
    &__form-title {
        text-align: left;
        margin-bottom: 20px;
    }
    &__form-item {
        margin-bottom: 20px;
        text-align: left;

        input {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid $primary-color;
        }
    }
    &__error-container {
        p {
            background-color: #ff505f;
            border-radius: 10px;
            color: white;
            text-align: left;
            padding: 10px;
            margin-bottom: 10px;
            animation: FadeIn 1s ease-out;
        }
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
    }
}
